body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: rgb(122, 85, 85);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.bb{
    background-color: #f1e5e5;
    width: 100%;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 40px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #3b5184;
    border-radius: 10px;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0px;
    top: 23%;
}
.banner h2{
    font-size: 34px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{
    background-color: rgb(198, 164, 164);
    padding: 20px;
    position: sticky;
    top: 104px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: rgb(100, 100, 158);
}
nav li a.join{
    color: rgb(132, 70, 70) ;
    
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color:  rgb(132, 70, 70);
    font-size: 48px;
     
}
article p{
    line-height: 2em;
}
.images{
    text-align: center;
    margin: 80px 0;
}
.images li{
    display: inline-block;
    width: 40%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background: rgb(198, 164, 164);
    text-align: center;
    padding: 60px 20px;
    color: #f4f4f4;
}
.join h2{
    font-size: 40px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 20px;
    background-color: #f1e5e5;
    border: 4px solid white;
}
footer{
    background: rgb(122, 85, 85);
    color: #f1e5e5;
    padding: 10px;
    text-align: center;
}
/* Pseudo classes */
nav li a:hover{
    text-decoration: underline;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed rgb(122, 85, 85);
    outline: none;
}
form input:valid{
    border: 4px solid rgb(137, 179, 137);
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
section.join p::first-letter{
    font-size: 1.7em;
}
p::selection{
    
    background-color: rgb(122, 85, 85);
    color: white;
}
p::after{
    content: '...';
}
/* responsive styles */

@media screen and (max-width: 1000px){
    .banner .welcome h2{
    font-size: 28px;
   
}
    nav  li{
        font-size: 18px;
    }
}
@media screen and (max-width: 700px){
    .banner .welcome h2{
    font-size: 18px;
    top: 25%;
}
}
@media screen and (max-width: 650px){
    .banner .welcome{
    position: relative;
    text-align: center;
    padding:10px ;
}
    .banner .welcome br{
        display: none;
    }
     .banner .welcome h2{
        font-size: 20px;
     }
      .banner .welcome span{
        font-size: 1em;
      }
      .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
      }
}
@media screen and (max-width: 450px){
    nav li{
        font-size: 20px;
        position: relative;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
     header{
        position: relative;
    }
    nav{
        top: 0;
    }
}
